<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<appSettings>
		<add key="SqlServerName_Live" value="awssqlprod.netlogix.local" />
		<add key="SqlServerName_Uat" value="awssqluat.netlogix.local" />
		<add key="SqlDatabaseName_NZ" value="PLATOCHH" />
		<add key="SqlDatabaseName_AU" value="PlatoAus" />
		<add key="SqlStoredProcedureApc" value="fin.nsp_FinConsolidation_AP_Test" />
		<add key="SqlStoredProcedureArc" value="fin.nsp_FinConsolidation_AR_Test" />
		<add key="SqlConnectTimeoutSeconds" value="300" />
		<add key="TrustServerCertificate" value="true" />
	</appSettings>

</configuration>