<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">

  <Package
    Name="FinConsolidation"
    Manufacturer="Netlogix Ltd"
    Version="$(var.ProductVersion)"
    Language="1033"
    UpgradeCode="{2C3E4C3E-5E2C-4EF5-9C6C-AB12CD34EF56}"
    InstallerVersion="500"
    Compressed="yes"
    Scope="perUser">

    <MajorUpgrade
      Schedule="afterInstallExecute"
      AllowSameVersionUpgrades="no"
      DowngradeErrorMessage="A newer version is already installed." />

    <Icon Id="AppIcon" SourceFile="fin_con.ico" />

    <Property Id="ARPHELPLINK" Value="https://netlogixgroup.co.nz" />
    <Property Id="ARPURLINFOABOUT" Value="https://netlogixgroup.co.nz" />
    <Property Id="ARPCONTACT" Value="valentin.gourine@netlogixgroup.co.nz" />
    <Property Id="ARPNOREPAIR" Value="1" />
    <Property Id="ARPPRODUCTICON" Value="AppIcon" />

    <MediaTemplate EmbedCab="yes" />

    <StandardDirectory Id="LocalAppDataFolder">
      <Directory Id="NetlogixDir" Name="Netlogix">
        <Directory Id="InstallDir" Name="FinConsolidation" />
      </Directory>
    </StandardDirectory>

    <StandardDirectory Id="ProgramMenuFolder">
      <Directory Id="NetlogixMenu" Name="Netlogix">
        <Directory Id="AppMenuDir" Name="FinConsolidation" />
      </Directory>
    </StandardDirectory>

    <StandardDirectory Id="DesktopFolder" />

    <Component Id="DesktopShortcut" Directory="DesktopFolder" Guid="*">
      <Shortcut
        Id="DesktopShortcutLink"
        Name="FinConsolidation"
        Target="[InstallDir]FinConsolidation.exe"
        WorkingDirectory="InstallDir" />
      <RemoveFolder Id="RemoveDesktopShortcut" On="uninstall" />
      <RegistryValue Root="HKCU" Key="Software\Netlogix\FinConsolidation" Name="DesktopShortcut" Type="integer" Value="1" KeyPath="yes" />
    </Component>

    <Component Id="StartMenuShortcut" Directory="AppMenuDir" Guid="*">
      <Shortcut
        Id="StartMenuShortcutLink"
        Name="FinConsolidation"
        Target="[InstallDir]FinConsolidation.exe"
        WorkingDirectory="InstallDir" />
      <RemoveFolder Id="RemoveAppMenuDir" On="uninstall" />
      <RegistryValue Root="HKCU" Key="Software\Netlogix\FinConsolidation" Name="StartMenuShortcut" Type="integer" Value="1" KeyPath="yes" />
    </Component>

	<Feature Id="MainFeature" Title="FinConsolidation" Level="1">
	<ComponentGroupRef Id="AppComponents" /> <ComponentRef Id="DesktopShortcut" />
	<ComponentRef Id="StartMenuShortcut" />
	</Feature>

  </Package>
</Wix>